*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card__body {
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 13rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

  .card__image {
    height: 5rem;
    width: 60%;
    object-fit: cover;
  }

  .card__btn {
    padding: 0.5rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    background: #f44336;
    color: white;
    border-radius: 0.2rem;
  }
