.cards {
    background: 'images/Logo-Sisper.png';
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    max-width: 1366px;
    width: 100%;
  }
  .cards__table {
    background: #242424;
    display: flex;
    flex-flow: column;
    max-width: 1366px;
    width: 100%;
  }
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  .cards__item {
    background-color: white;
    display: flex;
    flex: 1;
    margin: 0 3rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 40%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    align-content: center;
  }

  .cards__item__button {
    background-color: #061D47;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: white;
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
  }

  .cards_navbar {
      background: #242424;
      height: 50px;
      margin: 0 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Muli;
      font-size: 1.2rem;
      position: sticky;
      top: 0;
      z-index: 999;
  }
  
  .button:hover {
    background: #008080;
    color:#fafafa;
  }          
  .button:active {
    background:#9ACD32;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #000;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }