@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@500;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card__body {
  font-family: Oxygen, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

  .card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    padding-bottom: 10px;
  }

  .card__title {
    color: black;
  }


  .card__description {
    padding: 0 1rem;
  }

  .card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: transparent 200ms ease-in, color 200ms ease-in;
  }

  .tentang-perpus {
    width: 1200px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
  }