   body {
    font-family: Rubik,Arial,sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #607289;
  }
  
  h5 {
      font-size: 1rem;
      line-height: 1.375;
    font-family: Rubik,Arial,sans-serif;
      font-weight: 500;
      color: #061D47;
  }
  
  a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }

  p {
    color: black;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  footer {
    background: #061D47;
  }

  #copyright {
    background: #061D47;
    color: white;
  }