*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  
  .container_pencarian {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 900px;
    height: absolute;
    background: #f1f1f1;
    margin: 40px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  
  .tabs {
    padding: 15px;
    text-align: center;
    width: 300px;
    height: 15px;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: #061D47;
    color: white;
    border-bottom: 1px solid transparent;
  }
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  
  .active-content {
    display: block;
  }
  
  /*Content Search*/
  .search {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .search-cd{
  margin-top: 100px;
  align-items: center;
  margin-left:38%;
  }
  .search_search {
    text-align: left;
    padding: 10px;
    background: #fff; 
    border:1px solid #000;
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: 50px;
  }
  
  .search_button {
    position:relative; 
    left:-4px; 
    padding:10px 15px;   
    border:1px solid #061D47;
    background-color: #061D47;
    border-radius: 0 10px 10px 0;
    color:#fafafa; 
    font-weight:bold;
    height: 50px;
    width: 100px;
  }
  
  @media screen and (max-width: 960px) {
    .container_pencarian {
      position: relative;
    }
  
    .tabs {
      transition: all 0.5s ease;
    }
  
    /* .tabs {
      display: flex;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    } */
  }