.MuiDialog-scrollPaper {
    display:flex!important;
}

.MuiDialog-paperWidthSm {
    max-width: 1000px!important;
    width: 800px;
}

.Edit-buku{
    margin-left: 30px;
}
.Edit-cd{
    margin-left: 30px;
}
.Edit-ta{
    margin-left: 30px;
}