.App {
    text-align: center;
  }
  .pustaka-baru {
    width: 1200px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 30px;
  }
  .data-pengguna {
    width: 1200px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
  }

  .laporan {
    width: 1200px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
  }

  
  .pustaka-baru {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    height: absolute;
    margin: 40px auto 0;
    padding: 30px;
    word-break: break-all;
  }
  
  .bloc-tabs1 {
    display: flex;
  }
  
  .tabs1 {
    padding: 15px;
    text-align: center;
    width: 400px;
    height: 15px;
    background: #67BCF3;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }